
.contact-hero {
  height: 60vh;
  display: flex;
  align-items: center;
  background: 
  url("../images/background-caro.png") center/cover no-repeat;
}

.contact-title {
  font-size: 3rem;
  font-weight: 800;
}

.contact-title span {
  background: var(--cv-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-subtitle {
  max-width: 520px;
  margin: 15px auto 0;
  color: #cbd5e1;
}

/* CONTACT SECTION */
.contact-section {
  background: radial-gradient(circle at top, #0b1220, #020617);
  padding: 80px 0;
}

.contact-info h3 {
  font-weight: 700;
  margin-bottom: 12px;
}

.contact-info p {
  color: #94a3b8;
  margin-bottom: 25px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  display: flex;
  gap: 14px;
  margin-bottom: 18px;
  align-items: center;
}

.contact-info i {
  font-size: 1.3rem;
  color: #ff4b2b;
}

.contact-form {
  background: rgba(255,255,255,0.03);
  padding: 35px;
  border: 1px solid rgba(255,255,255,0.08);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.15);
  padding: 12px 14px;
  color: #fff;
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #94a3b8;
}

.btn-submit {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: #fff;
  padding: 12px 32px;
  border-radius: 0;
}

.contact-map iframe {
  width: 100%;
  height: 380px;
  border: none;
  filter: grayscale(100%) brightness(0.8);
}

@media (max-width: 768px) {
  .contact-hero {
    height: 45vh;
  }
   .contact-hero h1 {
    margin-top: 35px;
  }
  .contact-title {
    font-size: 2rem;
  }

  .contact-section {
    padding: 60px 0;
  }

  .contact-form {
    padding: 25px;
  }
}
